{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>collabothon rzeczy</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
</head>

<body style="background: var(--bs-body-color);color: var(--bs-secondary-bg);">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="float-start" style="min-width: 200px;margin-top: 15px;">
                    <h1 style="color: var(--bs-body-bg);">Nazwa czujnika:&nbsp;</h1>
                </div>
                <div style="min-width: 250px;">
                    <div class="dropdown float-start" style="margin-top: 15px;"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="margin-top: 15px;">
                <h1>Twój ślad węglowy wzrósł o coś tam cośtam&nbsp;</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="justify-content: center;display: flex;align-items: center;">
            <div style="background: var(--bs-gray-dark);justify-content: center;display: flex;align-items: center;margin-top: 50px;min-height: 500px;min-width: 603px;"></div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>