{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>collabothon rzeczy</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/style.css' %}">
</head>

<body style="background: var(--bs-body-color);color: var(--bs-secondary-bg);">
    <div class="justify-content-center align-items-center d-flex odstep">
        <div class="blok mt-0">
            <div class="">
                <h1 id="1_h"></h1>
            </div>
            <div class="obiekt ">
                <div class="dropdown float-start" style="margin-top: 15px; "><button id="dropdown_button" class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" disabled>device</button>
                    <div class="dropdown-menu" id="dropdown">{#<a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a> #}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="justify-content-center align-items-center d-flex odstep">
        <div class="blok">
            <div style="margin-top: 10px;" class="">
                <h1 id="2_h">test</h1>
            </div>
        </div>
    </div>


    <div class="justify-content-center align-items-center d-flex odstep">
        <div class="blok">
            <div class="container">
                <div class="row justify-content-center align-items-center odstep">
                  <div class="col-md-6">
                    <div class="iframe-container">
                      <iframe src="https://www.predictivesolutions.pl/uploads/blog/automatyzacja-psip-4/01.%20Domyślny%20wykres.png" frameborder="0" class="responsive-iframe"></iframe>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>




    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script>
        function set_active(name) {
            var item = $(".dropdown-item").filter(function() {
                    return $(this).text().trim() === name;
                });
                if (item.length > 0) {
                    $(".dropdown-item").removeClass("active");
                    item.addClass("active");
                }
        }

        let data_jsons = []
        let active_device = null
        $.getJSON('{% url 'get_devices' %}',function(data){
            $.each(data,function(key,value){
                $.each(value,function(key,value){
                    if (active_device === null) {
                        active_device = value;
                        $('#1_h').text(`The carbon footprint at the sensor ${active_device.devName} has increased by ...`)
                        $('#dropdown_button').text(value.devName)
                        $('#dropdown_button').removeAttr('disabled')

                        $('#dropdown').append('<a class="dropdown-item" href="#">'+value.devName+'</a>')
                        set_active(active_device.devName)
                        data_jsons.push(value)
                    } else {
                        $('#dropdown').append('<a class="dropdown-item" href="#">' + value.devName + '</a>')
                        data_jsons.push(value)
                    }
                })
            })
        })
        addEventListener('click',function(e){
            if (e.target.classList.contains('dropdown-item')) {
                $('#dropdown_button').text(e.target.innerText)
                active_device = data_jsons.find(x => x.devName === e.target.innerText)
                set_active(active_device.devName)
                console.log(active_device)
                $('#1_h').text(`The carbon footprint at the sensor ${active_device.devName} has increased by ...`)
            }
        })


    </script>
</body>

</html>