{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>szybka strona ux ui</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/main_style.css' %}">
</head>

<body>
    <div class="row">
    <!-- Lewy div -->
    <div class="col-4 d-flex justify-content-start align-items-center">
        <div class="lewy">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">First Item</a>
                    <a class="dropdown-item" href="#">Second Item</a>
                    <a class="dropdown-item" href="#">Third Item</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Środkowy div -->
    <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="srodek">
            <h1>Heading</h1>
        </div>
    </div>

    <!-- Prawy div -->
    <div class="col-4 d-flex justify-content-end align-items-center">
        <div class="prawo">
            <button class="btn btn-primary" type="button">Button</button>
        </div>
    </div>
</div>
    <div class="row obramowka" style="margin-top: 15px;">
        <div class="col">
            <h1>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum&nbsp;</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-start align-items-start justify-content-md-center align-items-md-center">
        <div class="col d-md-flex justify-content-md-start align-items-md-center">
            <div class="d-flex d-md-flex justify-content-end align-items-end justify-content-md-end align-items-md-center dane1">
                <p>Data:</p>
            </div>
        </div>
        <div class="col d-md-flex justify-content-md-end align-items-md-center" style="border-right-width: 20px;border-right-color: var(--bs-emphasis-color);">
            <div class="d-md-flex justify-content-md-start align-items-md-center dane2">
                <p>Avg peak Data:</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col obramowka2">
            <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-start">
                <p style="font-size: 1.25rem;text-align: left;">The carbon footprint at the sensor tree-6 has<br>increased by 1.96% in the last 1 hour</p>
            </div>
            <div class="d-flex justify-content-md-center align-items-md-center align-items-lg-center" style="height: 200px;min-height: 100px;">
                <div class="d-flex d-md-flex justify-content-start align-items-start justify-content-md-center align-items-md-center" style="width: 150px;height: 150px;background: var(--bs-danger-text-emphasis);border-radius: 100px;min-width: 75px;min-height: 75px;"></div>
                <div class="d-flex d-md-flex justify-content-end align-items-end justify-content-md-center align-items-md-center" style="width: 150px;height: 150px;background: var(--bs-teal);border-radius: 100px;margin-left: 40px;"></div>
            </div>
        </div>
        <div class="col obramowka2">
            <div>
                <div style="width: 100%;height: 300px;min-width: auto;">
                    <h2>
                        legenda rzeczy
                    </h2>
                    <ul style="font-size: 1.25rem">
                        <li>uno</li>
                        <li>uno</li>
                        <li>uno</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row obramowka" style="margin-top: 15px;">
        <div class="col">
            <h1>kroki postępowanie karne&nbsp;</h1><br>
            <ul style="font-size: 1.25rem">
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>


            </ul>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>